body,html {
    height: 100%;
}
body {
    background-color: black;
}
.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 28px;
    margin: auto;
    width: 930px;
}
.firstUp {
    align-items: center;
    display: flex;
}
.social {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.flags {
    align-items: center;
    display: flex;
    justify-content: center;
}
.firstUp > img {
    height: 22px;
    width: 140px;
}
.flags > img {
    height: 22px;
    padding-left: 3px;
    width: 30px;
}
.social > img {
    height: 22px;
    padding-left: 3px;
    width: 26px;
}
.main {
    background-color: darkgrey;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(9, 1fr);
    margin: 10px auto;
    padding: 0.5em;
    width: 960px;
}
.main > div > img {
    background-color: white;
    height: 60px;
    width: 100%;
}
.main > div > .tops {
    height: 30px;
}
.advert {
    background-image: url("radio/advert.gif");
    background-size: contain;
    border: 3px solid black;
    grid-column: 2/9;
    grid-row: 1/3;
}
.advert2 {
    background-image: url("radio/advert2.gif");
    background-size: cover;
    border: 3px solid black;
    grid-column: 4/7;
    grid-row: 4/7;
}
.advert_cube {
    display: grid;
    grid-column: 2/9;
    grid-template-columns: 1fr 3fr 1fr;
}
.advert3 {
    background-color: crimson;
    background-image: url("radio/advert3.gif");
    background-size: contain;
    border: 3px solid black;
}
.advert4{
    background-color: blueviolet;
    background-image: url("radio/advert3.gif");
    background-size: contain;
    border: 3px solid black;
}
.advert5 {
    background-color: crimson;
    background-image: url("radio/advert5.gif");
    background-size: contain;
    border: 3px solid black;
}
.foot {
    align-items: center;
    color: darkgrey;
    display: flex;
    justify-content: space-between;
    margin: -20px auto;
    width: 800px;
}
.cookies {
    background-color: darkgrey;
    display: grid;
    grid-template-columns: 5fr 3fr;
    height: 90px;
    margin: 25px auto;
    overflow: auto;
    padding-left: 1em;
    text-wrap: normal;
    width: 960px;
    position: relative;
}
.cookies > p {
    color: white;
    padding-left: 3em;
}
.button {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.button > button {
    background-color: black;
    color: white;
    height: 23px;
}